[submodule "thirdparty/SFML"]
	path = thirdparty/SFML
	url = git@github.com:SFML/SFML.git
[submodule "thirdparty/DonerComponents"]
	path = thirdparty/DonerComponents
	url = git@github.com:Donerkebap13/DonerComponents.git
